.login-form-container {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background-color: #eee;
  padding: 50px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.login-form-container h2 {
  text-transform: capitalize;
  font-family: "Cormorant", serif;
  font-size: 34px;
  margin-bottom: 15px;
}

button {
  padding: 10px 30px;
  background-color: dodgerblue;
  color: #fff;
  cursor: pointer;
}
